<section>
    <div class="row w-75 m-auto mt-5">
        <div class="page-title text-center">
            <h5>Update Announcement </h5>
        </div>
        <form [formGroup]="UpdateAnnouncementForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label class="my-2">Title</label>
                <input type="text" formControlName="title" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f['title'].errors }" />
                <div *ngIf="submitted && f['title'].errors" class="invalid-feedback">
                    <div *ngIf="f['title'].errors['required']">Title is required</div>
                </div>
            </div>
            <div class="form-group mt-2">
                <label class="my-2">Description</label>
                <textarea type="text" formControlName="description" cols="20" rows="6" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f['description'].errors }" ></textarea>
                <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
                    <div *ngIf="f['description'].errors['required']">Description is required</div>
                </div>
            </div>
            
            <div class="form-group mt-5">
                <button class="w-50" type="submit" class="btn bg-theme text-light">Submit</button>
            </div>
        </form>
    </div>
  </section>


